@import "../../global.scss";


.Login-container{

    width: 100vw;
    height: 100vh;
    //background-image:url('../login/pexal.jpg') ;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url('../login/pexal.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .l-wrapper{

        padding: 20px;
        width: 25%;
        max-width: 25%;
        background-color:whitesmoke;
        @include mobile{
            width: 75%;
            max-width: none;
           }

        .title{

            font-size: 24px;
            font-weight: 300;
        }
        .L-Form{
            display: flex;
            flex-direction: column;
            width: 70%;


            .L-Input{
                flex: 1;
                height: 40px;
                margin: 10px 0px;
                
            }
            button{
               margin-top: 10px;
                width: 40%;
                height: 40px;
                border: none;
               
                background-color:coral;
                color: white;
                cursor: pointer;
                align-content:center;
                justify-content: center;
                margin-bottom: 10px;
                text-align: center;

                &:disabled{
                  color:green ;
                  cursor: not-allowed; 
                }
            }
            a{
                margin: 5px 0px;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}